N8NAll/N8ND3/old/汽车详情工作流-完整版.json
{
  "name": "汽车详情工作流-完整版",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "car-detail-complete",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*, null"
        }
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "接收请求",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        300,
        400
      ],
      "webhookId": "car-detail-complete"
    },
    {
      "parameters": {
        "jsCode": "// 解析请求参数\nconst input = $input.item.json.body || $input.item.json;\nconst carName = (input.carName || '').trim();\n\nif (!carName) {\n  return {\n    json: {\n      success: false,\n      error: '请提供汽车名称'\n    }\n  };\n}\n\nconsole.log('查询汽车:', carName);\n\nreturn { \n  json: { \n    carName: carName\n  } \n};"
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "解析参数",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        400
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1mjs9hbxuETgarWLqKlHxhK3XQHKG2E6BmkpMs6RUghQ",
          "mode": "list",
          "cachedResultName": "CarSheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mjs9hbxuETgarWLqKlHxhK3XQHKG2E6BmkpMs6RUghQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1550254241,
          "mode": "list",
          "cachedResultName": "CarImageURLMVP用",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mjs9hbxuETgarWLqKlHxhK3XQHKG2E6BmkpMs6RUghQ/edit#gid=1550254241"
        },
        "options": {}
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "读取GoogleSheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        700,
        400
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YS5a72jpKHezwxcc",
          "name": "Google Sheets account 5"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 处理所有数据并返回结果\nconst targetCarName = $('解析参数').item.json.carName;\nconst allData = $input.all();\n\nconsole.log('===== 开始处理 =====');\nconsole.log('目标车型:', targetCarName);\nconsole.log('总数据量:', allData.length);\n\n// 1. 筛选当前车型的所有数据（支持模糊匹配）\nconst carData = allData.filter(item => {\n  const dbCarName = item.json.carName || '';\n  return dbCarName === targetCarName || dbCarName.includes(targetCarName);\n});\n\nif (carData.length === 0) {\n  return {\n    json: {\n      success: false,\n      error: `未找到车型: ${targetCarName}`\n    }\n  };\n}\n\nconsole.log('找到匹配:', carData.length, '条');\nconsole.log('实际车名:', carData[0].json.carName);\n\n// 2. 提取基本信息\nconst baseInfo = carData[0].json;\nconst carName = baseInfo.carName;\nconst carPriceRange = baseInfo.carPriceRange;\nconst vehicleClass = baseInfo.vehicleClass;\nconst carID = baseInfo.carID;\nconst brandID = baseInfo.brandID;\n\n// 3. 查找view45主图\nconst mainImage = carData.find(item => \n  item.json.viewType === 'view45' && item.json.category === '外观'\n);\nconst mainImageUrl = mainImage ? mainImage.json.imageURL : (carData[0].json.imageURL || '');\n\n// 4. 收集所有详细图片\nconst detailImages = carData.map(item => ({\n  url: item.json.imageURL,\n  category: item.json.category || '外观',\n  viewType: item.json.viewType || 'unknown'\n})).filter(img => img.url);\n\nconsole.log('主图:', mainImageUrl);\nconsole.log('详细图片数量:', detailImages.length);\n\n// 5. 查找相关车型\nfunction extractPriceRange(priceStr) {\n  if (!priceStr) return null;\n  const matches = priceStr.match(/([\\d.]+)/g);\n  if (!matches || matches.length < 2) return null;\n  const min = parseFloat(matches[0]);\n  const max = parseFloat(matches[1]);\n  return { min, max, avg: (min + max) / 2 };\n}\n\nconst currentPrice = extractPriceRange(carPriceRange);\nconst uniqueCars = new Map();\n\nallData.forEach(item => {\n  const name = item.json.carName;\n  const id = item.json.carID;\n  if (!uniqueCars.has(name) && name !== carName) {\n    uniqueCars.set(name, {\n      carName: name,\n      carID: id,\n      carPriceRange: item.json.carPriceRange,\n      vehicleClass: item.json.vehicleClass,\n      brandID: item.json.brandID\n    });\n  }\n});\n\nconst relatedCars = [];\nfor (const [name, car] of uniqueCars) {\n  let score = 0;\n  \n  if (car.vehicleClass === vehicleClass) {\n    score += 40;\n  } else if (car.vehicleClass && vehicleClass && \n             car.vehicleClass.includes(vehicleClass.split(/[A-Z]/)[0])) {\n    score += 20;\n  }\n  \n  if (currentPrice && car.carPriceRange) {\n    const carPrice = extractPriceRange(car.carPriceRange);\n    if (carPrice) {\n      const priceDiff = Math.abs(currentPrice.avg - carPrice.avg);\n      const priceScore = Math.max(0, 60 - (priceDiff * 3));\n      score += priceScore;\n    }\n  }\n  \n  if (score > 20) {\n    relatedCars.push({ ...car, relevanceScore: score });\n  }\n}\n\nrelatedCars.sort((a, b) => b.relevanceScore - a.relevanceScore);\nconst topRelated = relatedCars.slice(0, 6);\n\nconsole.log('相关车型数量:', topRelated.length);\nconsole.log('===== 处理完成 =====');\n\n// 传递数据到AI节点\nreturn {\n  json: {\n    carName: carName,\n    carPriceRange: carPriceRange,\n    vehicleClass: vehicleClass,\n    carID: carID,\n    brandID: brandID,\n    mainImageUrl: mainImageUrl,\n    relatedCars: topRelated,\n    detailImages: detailImages,\n    stats: {\n      totalImages: detailImages.length,\n      relatedCarsCount: topRelated.length\n    },\n    chatinput: `第一行：输出3-5个关键标签（用逗号分隔，如：运动风格,智能驾驶,豪华内饰）\n第二行开始：以资深设计师的角度，用50字简短分析车型${carName}的设计美学与品牌背景。`\n  }\n};"
      },
      "id": "d4e5f6a7-b8c9-0123-def0-234567890123",
      "name": "处理所有逻辑",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        400
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatinput }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "你是汽车专家，请用简洁专业的方式介绍车辆。格式要求：\n1. 车型定位(SUV/轿车等)\n2. 核心设计特点\n3. 相关竞品\n4. 3个核心亮点\n总字数100字内。"
        }
      },
      "id": "e5f6a7b8-c9d0-1234-ef01-345678901234",
      "name": "AI智能体",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1100,
        400
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f6a7b8c9-d0e1-2345-f012-456789012345",
      "name": "DeepSeek Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        1000,
        600
      ],
      "credentials": {
        "deepSeekApi": {
          "id": "Rq6VyJR7LeyTkMK8",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "knowledge_base",
        "toolDescription": "call this tool to access the car knowledge database",
        "pineconeIndex": {
          "__rl": true,
          "value": "sample-movies",
          "mode": "list",
          "cachedResultName": "sample-movies"
        },
        "options": {
          "pineconeNamespace": "Test01"
        }
      },
      "id": "a7b8c9d0-e1f2-3456-0123-567890123456",
      "name": "从Pinecone检索向量",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.2,
      "position": [
        1200,
        600
      ],
      "credentials": {
        "pineconeApi": {
          "id": "63U996StLJtJbjSj",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1024
        }
      },
      "id": "b8c9d0e1-f2a3-4567-1234-678901234567",
      "name": "OpenAI嵌入模型",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1200,
        780
      ],
      "credentials": {
        "openAiApi": {
          "id": "i9YtN4AdSgS8mWcx",
          "name": "openai-workshop"
        }
      }
    },
    {
      "parameters": {
        "content": "={{ $json.output }}",
        "options": {}
      },
      "id": "c9d0e1f2-a3b4-5678-2345-789012345678",
      "name": "输出解析器",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1100,
        580
      ]
    },
    {
      "parameters": {
        "jsCode": "// 整合AI分析结果\nconst carData = $('处理所有逻辑').item.json;\nlet aiFullOutput = '';\nlet aiAnalysis = '';\nlet smartTags = [];\n\ntry {\n  const aiResponse = $input.item.json;\n  if (aiResponse && aiResponse.output) {\n    aiFullOutput = aiResponse.output;\n  } else if (aiResponse && aiResponse.text) {\n    aiFullOutput = aiResponse.text;\n  } else {\n    aiFullOutput = '';\n  }\n} catch (e) {\n  console.log('AI分析获取失败，使用默认文本:', e.message);\n  aiFullOutput = '';\n}\n\nconsole.log('AI原始输出:', aiFullOutput);\n\n// 提取智能标签和分析内容\nif (aiFullOutput) {\n  const lines = aiFullOutput.split('\\n').filter(line => line.trim());\n  \n  if (lines.length > 0) {\n    // 第一行是标签\n    const firstLine = lines[0].trim();\n    const tagMatches = firstLine.split(/[,，、]/).map(tag => tag.trim()).filter(tag => tag);\n    \n    if (tagMatches.length > 0) {\n      smartTags = tagMatches;\n      console.log('提取到标签:', smartTags);\n    }\n    \n    // 剩余行是分析内容\n    if (lines.length > 1) {\n      aiAnalysis = lines.slice(1).join(' ').trim();\n    } else {\n      aiAnalysis = '正在生成深度分析...';\n    }\n  } else {\n    aiAnalysis = '车辆信息获取中，请稍后查看详细分析...';\n  }\n} else {\n  aiAnalysis = '车辆信息获取中，请稍后查看详细分析...';\n}\n\n// 如果没有标签，提供默认标签\nif (smartTags.length === 0) {\n  smartTags = ['品质之选', '设计美学', '智能科技'];\n}\n\nconsole.log('最终标签:', smartTags);\nconsole.log('最终分析:', aiAnalysis);\n\nreturn {\n  json: {\n    success: true,\n    data: {\n      carName: carData.carName,\n      carPriceRange: carData.carPriceRange,\n      vehicleClass: carData.vehicleClass,\n      carID: carData.carID,\n      brandID: carData.brandID,\n      mainImageUrl: carData.mainImageUrl,\n      aiAnalysis: aiAnalysis,\n      smartTags: smartTags,\n      relatedCars: carData.relatedCars || [],\n      detailImages: carData.detailImages || [],\n      stats: carData.stats || {}\n    },\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "d0e1f2a3-b4c5-6789-3456-890123456789",
      "name": "整合最终结果",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, GET, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "id": "e1f2a3b4-c5d6-7890-4567-901234567890",
      "name": "返回结果",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1500,
        400
      ]
    }
  ],
  "connections": {
    "接收请求": {
      "main": [
        [
          {
            "node": "解析参数",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "解析参数": {
      "main": [
        [
          {
            "node": "读取GoogleSheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "读取GoogleSheet": {
      "main": [
        [
          {
            "node": "处理所有逻辑",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "处理所有逻辑": {
      "main": [
        [
          {
            "node": "AI智能体",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI智能体": {
      "main": [
        [
          {
            "node": "整合最终结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI智能体",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "从Pinecone检索向量": {
      "ai_tool": [
        [
          {
            "node": "AI智能体",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI嵌入模型": {
      "ai_embedding": [
        [
          {
            "node": "从Pinecone检索向量",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "输出解析器": {
      "ai_outputParser": [
        [
          {
            "node": "AI智能体",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "整合最终结果": {
      "main": [
        [
          {
            "node": "返回结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-30T12:00:00.000Z",
  "versionId": "00000000-0000-0000-0000-000000000000"
}
